{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}
    <script src="{% static 'js/buttons.js' %}" defer></script>
{% endblock meta %}
{% block content %}
    <form method="post"
          class="flex flex-col items-center justify-center space-y-4 my-auto">
        {% csrf_token %}
        {{ form }}
        <button type="submit"
                id="submit-button"
                class="button submit-button-disabled text-lightsteelblue-100 bg-slategray-200">Login</button>
        <p>
            Don't have an account? Create one <a class="underline text-skyblue-300 hover:text-cadetblue-300 transform duration-300 ease-linear"
    href="{% url 'signup' %}">Here</a>!
        </p>
    </form>
{% endblock %}
