{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}{% endblock %}
{% block content %}
    <div class="py-8 px-32">
        <form method="POST"
              enctype="multipart/form-data"
              class="flex flex-col items-center justify-center space-y-4 my-auto">
            <h2 class="text-3xl font-abel">Change password</h2>
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="button bg-skyblue-300 text-gray-500">Change</button>
        </form>
    </div>
{% endblock %}
