{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}{% endblock %}
{% block content %}
    <div class="py-8 px-32">
        {% if user.is_authenticated and user == page_owner %}
            <div class="flex justify-end gap-4">
                {% if user.is_staff %}
                    <a href="/admin">
                        <i class="fa-solid fa-users-gear fa-2xl"></i>
                    </a>
                {% endif %}
                <a href="{% url "logout" %}">
                    <i class="fa-solid fa-right-from-bracket fa-2xl"></i>
                </a>
                <a href="{% url "settings" %}">
                    <i class="fa-solid fa-gear fa-2xl"></i>
                </a>
            </div>
        {% endif %}
        <img src="{{ page_owner.profile.picture.url }}"
             class="max-w-xs p-8 pl-0"
             alt="{{ page_owner.username }} profile picture" />
        <h1 class="font-abel text-4xl mb-8">
            {% if user.is_authenticated and user == page_owner %}
                My
            {% else %}
                {{ page_owner }}
            {% endif %}
            Projects
        </h1>
        <div class="grid grid-cols-1 gap-4">
            {% for project in projects %}
                <div class="border border-steelblue-100 p-8 flex flex-row gap-4 justify-between">
                    <a href="{{ project.get_absolute_url }}"
                       class="hover:text-steelblue-100 transition duration-300 ease-linear">
                        <h2 class="font-abel text-3xl">{{ project.name }}</h2>
                    </a>
                    <p class="max-w-2xl text-justify">{{ project.description|slice:500 }}</p>
                </div>
            {% empty %}
                <p class="text-center font-abel text-xl">No projects yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
