{% extends "layout.html" %}
{% load static %}
{% block title %}{{ project.owner }}/{{ project.name }}{% endblock %}
{% block meta %}{% endblock %}
{% block content %}
    <h2>@{{ project.owner }}</h2>
    <h3>{{ project.name }}</h3>
    <p>{{ project.description }}</p>
    <p>
        <a href="{{ project.projecthostingplatform.url }}" target="_blank">{{ project.projecthostingplatform.hosting_platform }}</a>
    </p>
    <ul>
        {% for license in project.license.all %}
            <li>
                <a href="{{ license.url }}">{{ license }}</a>
            </li>
        {% empty %}
            <p>No license</p>
        {% endfor %}
    </ul>
    <ul>
        {% for os in project.operating_system.all %}
            <li>{{ os }}</li>
        {% empty %}
            <p>No OS</p>
        {% endfor %}
    </ul>
    <ul>
        {% for tag in project.tag.all %}
            <li>{{ tag }}</li>
        {% empty %}
            <p>No tag</p>
        {% endfor %}
    </ul>
    <ul>
        {% for language in project.projectprogramminglanguage_set.all %}
            <li>{{ language.programming_language }} {{ language.percentage }}&#37;</li>
        {% empty %}
            <p>No language</p>
        {% endfor %}
    </ul>
    <p>{{ project.date_created|date:"d.m.Y, G:i" }}</p>
    <button>
        <a href="{% url 'project-update' project.owner project.name %}">Update</a>
    </button>
    <button>
        <a href="{% url 'project-delete' project.owner project.name %}">Delete</a>
    </button>
{% endblock %}
