{% extends "layout.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block meta %}{% endblock %}
{% block content %}
    <button>
        <a href="{% url 'add-project' %}">Add Project</a>
    </button>
    <button>
        <a href="/admin">Admin</a>
    </button>
    <br />
    {% for project in projects %}
        <b>@{{ project.owner }}</b>
        <h4>{{ project.name }}</h4>
        <br />
        <a href="{{ project.get_absolute_url }}">
            <button>Read more</button>
        </a>
        <p>{{ project.date_created }}</p>
    {% empty %}
        <p>No projects yet (</p>
    {% endfor %}
{% endblock %}
