@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply leading-[normal] m-0;
}
*,
::before,
::after {
    border-width: 0;
}

.border-gradient-horizontal {
    position: relative;
}

.border-gradient-horizontal::before {
    content: "";
    position: absolute;
    top: 0%;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(to right, transparent, #27a1b9, transparent);
    transform: translateY(-50%);
}

.form-field {
    @apply mt-1 block rounded-md border-2;
}

.submit-form {
    @apply border-slategray-200 hover:border-lightsteelblue-100 bg-gray-300 placeholder-slategray-100 focus:border-cadetblue-300;
}

.checkbox-form {
    @apply border-slategray-200 hover:border-lightsteelblue-100 bg-gray-300 placeholder-slategray-100 focus:border-cadetblue-300;
}

.button {
    @apply font-abel px-12 py-2 border rounded-md transform ease-in-out duration-500;
}

.submit-button-disabled {
    @apply opacity-50 cursor-default;
}

.submit-button-enabled {
    @apply opacity-100 hover:opacity-60;
}
