@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rationale&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
    @apply leading-[normal] m-0;
}
*,
::before,
::after {
    border-width: 0;
}

.border-gradient-horizontal {
    position: relative;
}

.border-gradient-horizontal::before {
    content: "";
    position: absolute;
    top: 0%;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(to right, transparent, #27a1b9, transparent);
    transform: translateY(-50%);
}
